body {
    margin: 0;
    padding: 0;
}

.weight-bd {
    position: absolute;
    background-color: rgb(18, 18, 161);
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
}

.header p {
    color: whitesmoke;
    font-size: 2rem !important;
    text-transform: uppercase;
    margin-bottom: 1px;
}

.header legend {
    color: rgba(245, 245, 245, 0.808);
}

.content {
    background-color: whitesmoke;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 96vw;
    box-shadow: 0px 0px 15px rgba(61, 61, 61, 0.952);
}

.content .container {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
}

.content-legend {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: rgba(61, 61, 61, 0.952);
}

.directions .top,
.directions .bottom {
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    color: rgba(61, 61, 61, 0.952);
}

.directions .left,
.directions .right {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    transform: translate(5px, 120px);
    color: rgba(61, 61, 61, 0.952);
}

.kart-content {
    /* border: 1px solid red */
}

.kart-content .row {
    margin: 20px;
}

.kart-content .col {
    margin-bottom: 0;
    padding: 0;
    height: 100px;
}

.weight {
    /* border: 1px solid red; */
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgb(105, 105, 105);
    margin: 0;
    padding: 0;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100%;
    width: 200%;
    background-color: rgba(90, 192, 77, 0.87);
    color: rgb(105, 105, 105);
    padding-top: 40%;
}

.footer {
    position: absolute;
    top: 100%;
    transform: translate(0%, -100%);
    width: 100vw;
    background-color: whitesmoke;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.footer .row {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
}

.footer .row .col {
    text-align: center;
    height: 50px;
    position: relative;
}

.footer .menu-item {
    border: 1px solid rgb(105, 105, 105);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}